<h2>Meus Projetos no GitHub</h2>

<div *ngIf="repos.length > 0; else loading">
  <mat-card *ngFor="let repo of repos" class="repo-card">
    <img *ngIf="repo.imagem" mat-card-image [src]="repo.imagem" alt="{{ repo.name }}" style="object-fit: contain; max-height: 200px;" />
    
    <mat-card-title>{{ repo.name }}</mat-card-title>
    
    <mat-card-content>
      <p>{{ repo.readmeDescricao }}</p>
    </mat-card-content>

    <mat-card-actions>
      <a mat-button color="accent" [href]="repo.html_url" target="_blank">
        <mat-icon>code</mat-icon> Ver no GitHub
      </a>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #loading>
  <p>Carregando repositórios...</p>
</ng-template>
