<app-header></app-header>

<div class="layout-wrapper">
  <mat-sidenav-container class="layout-container">

    <!-- Único sidenav -->
    <mat-sidenav mode="side" opened>
      <!-- app-nav NÃO deve conter outro <mat-sidenav> dentro -->
      <app-nav></app-nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

<app-footer class="fixed-footer"></app-footer>
