html, body {
  height: 100%;
  margin: 0;
}

.layout-wrapper {
  padding-bottom: 56px; 
  box-sizing: border-box;
}

.layout-container {
  height: 100%;
}

mat-sidenav {
  width: 220px;
  background: #3f51b5;
  color: white;
}

.main-content {
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}

/* Footer fixo */
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: #3f51b5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
